@media (max-width: 985px)
{
  .native h2, .new h2
  {
    margin-left: 0.01em;
  }
  .new
  {
    margin-bottom: -2em;
  }
 .popular
  {
    gap: 3em;
    display: grid;
    grid-template-areas:
    "label . ."
    "books books books";
    margin-bottom: 5em;
  }
  .popular h2
  {
    position: relative;
    top: 1.2em;
  }
  .sales
  {
    display: grid;
    grid-template-areas:
    "label2 . ."
    "books2 books2 books2";
    margin-bottom: 7em;
  }
  .sales h2
  {
    padding-left:0;
  }
  .popular article
  {
    position:relative;
    margin-left: 0;
  }
  .sales article
  {
    width: 100%;
    overflow-y:hidden;
  }
  .salebooks
  {
    margin-left: -3em;
  }
  .menu-wrap
  {
    height: 5em;
    width: 100%;
  }
  .menu-wrap nav
  {
    display: none;
    transition: display 1.5s ease;
  }
  .menu-wrap input:checked + nav
  {
    display: block;
    background-color: black;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: display 2.5s ease;
  }
  .menu-wrap nav ul
  {
    padding: 0;
    list-style: none;
    margin-top: 0;
  }
  .menu-wrap nav li
  {
    padding: 5px;
    text-align: center;
  }
  .menu-wrap nav a
  {
    text-decoration: none;
    color: white;
  }
  .menu-icon
  {
    cursor: pointer;
    font-size: 2em;
    color: white;
  }
  #checkbox
  {
    display: none;
  }
  #menutop
  {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  #menutop li, #bskhrt
  {
    width: 100%;
  }
  .bsk
  {
    display: flex;
    flex-direction: column;
  }

  /*
  .newbooks
  {
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    margin-bottom: -4em;
  }*/

  .box, .box2
  {
    display: none;
  }
  /*
  .popular h2
  {
    position: relative;
    left: 2em;
  }/*
  .popularbooks
  {
    position: relative;
    width: 100%;
    left: -19em;
    margin-bottom: 2em;
  }
*/
/*  .sales h2
  {
    left: 2.5em;
  }*/
/*
  .salebooks
  {
    position: relative;
    width: 100%;
    right: 15em;

  }*/
  .salebooks li
  {
    position: relative;
    left: 3em;
  }

  .native h2, .new h2, .popular h2, .sales h2
  {
    position: relative;
    left: 0.25em;
  }
  .nativebooks
  {
    overflow: scroll;
  }

  .footer {
    text-align: center;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: center;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}
