@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.container
{
  position: relative;
  left: 2em;
}
.container img
{
  width: 563.3px;
  height: 43.75em;
  border-radius: 15px;

}
.box
{
  width: 563.3px;
  height: 700px;
  position: relative;
  top: 5em;
  left: -18em;
}
.box .square
{
  position:absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);

  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);

  background: black;/*rgba(255,255,255,0.1);*/
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate
{
  0%, 100%
  {
    transform: translateY(-40px);
  }
  50%
  {
    transform: translateY(40px);
  }
}
.box .square:nth-child(1)
{
  top: -42px;
  left: 450px;
  width: 6.25em;
  height: 6.25em;

}
.box .square:nth-child(2)
{
  top: 150px;
  left: -10px;
  width: 6.875em;
  height: 6.875em;
  z-index: 2;
  background-color: rgba(235,220,81,255);
}

.popularbooks::-webkit-scrollbar {
  width: 10px;
}

.popularbooks::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

.popularbooks::-webkit-scrollbar-thumb {
  background-color: /*#356184;*/rgba(235,220,81,255);
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(.5,white /*rgba(255, 255, 255, .25)*/),
                    color-stop(.5, transparent), to(transparent));
}
.salebooks::-webkit-scrollbar {
  width: 10px;
}

.salebooks::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

.salebooks::-webkit-scrollbar-thumb {
  background-color: /*#356184;*//*rgba(235,220,81,255);*/black;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(.5,white /*rgba(255, 255, 255, .25)*/),
                    color-stop(.5, transparent), to(transparent));
}

.box .square:nth-child(3)
{
  bottom: 20px;
  left: 505px;
  width: 6.875em;
  height: 6.875em;
  z-index: 2;
  background-color: white;
}
.container2
{
  position: relative;
}
.container2 img
{
  position: relative;
  width: 563.3px;
  height: 43.75em;
  border-radius: 15px;
  right: 6em;
}
.box2
{
  width: 563.3px;
  height: 43.75em;
  position: relative;
  top: 5em;
  right: -51em;
}
.box2 .square
{
  position:absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);

  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);

  background: black;/*rgba(255,255,255,0.1);*/
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
.box2 .square:nth-child(1)
{
  top: -6%;
  left: -5%;
  width: 6.25em;
  height: 6.25em;
  background-color: rgba(235,220,81,255)
}
.box2 .square:nth-child(2)
{
  top: 30%;
  left: 68%;
  width: 6.875em;
  height: 6.875em;
  z-index: 2;
}
.box2 .square:nth-child(3)
{
  bottom: 2%;
  left: -25%;
  width: 6.875em;
  height: 6.875em;
  z-index: 2;
  background-color: white;
}
