@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('rem.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Croissant One', sans-serif;
  overflow: hidden;
}
body:before
{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('rem.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
  z-index: -2;
}

fieldset
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 20em;
  height: 20em;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
fieldset:hover body:before
{
  filter: blur(5px);
  z-index: 2;
}
fieldset:hover
{
  transform: scale(1.05);
  z-index: 3;
}

legend
{
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

#form1
{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

label
{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  color: black;
}

input
{
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
input[type="tel"] {
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input[type="tel"]:focus
{
  border-color: rgba(235,220,81,255);
}
input[type="tel"]::placeholder
{
  color: #666;
}
input:focus
{
  border-color: rgba(235,220,81,255); /* желтая рамка при фокусе */
}

button
{
  z-index: 2;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover
{
  background-color: rgba(235,220,81,255);
}

.cube-container
{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.cube
{
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: black;
}

.cube.yellow
{
  background-color:rgba(235,220,81,255);
}

.cube.white
{
  background-color: rgba(235,220,81,255);
}

.cube.left-top
{
  position: absolute;
  top: 7em;
  left: 18em;
  animation: moveCubeTop 2s infinite alternate;
}

.cube.right-center
{
  position: absolute;
  top: 2em;
  left: -2em;
  animation: moveCubeRight 2s infinite alternate;
}

.cube.bottom
{
  position: absolute;
  bottom: -2.7em;
  right: 8em;
  animation: moveCubeBottom 2s infinite alternate;
}

@keyframes moveCubeTop
{
  to {
    transform: translateY(20px);
  }
}

@keyframes moveCubeRight
{
  to {
    transform: translateX(20px);
  }
}

@keyframes moveCubeBottom
{
  to {
    transform: translateY(-20px);
  }
}
