@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}


.not
{
  display:flex;
  position: absolute;
  top: 2em;
  left: 0.35em;
}
.not ul
{
  opacity: 0;
  list-style: none;
  color: white;
  transition: all 400ms ease;
  background-color: black;
}
.not li:hover
{
  color: rgba(235,220,81,255);
}
.not li
{
  font-size: 0.7em;
}
.not img
{
  width: 2em;
  height: 2em;
}
.not:hover ul
{
  opacity: 1;
}
header{

  font-family:'Croissant One', cursive;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-size: auto;
  background-color: black;
  padding: 15px auto 15px auto;
  margin-bottom: 15px;

  z-index: 1;
  width: 100%;
}
header input
{
  opacity: 0;
}
main
{
  overflow-x: hidden;
  width: 100%;
}
#menutop
{
  font-size: medium;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 120px;
  justify-content: center;
  list-style: none;
}

#menutop li
{
  padding: 15px;
}
header a, header a:visited, header a:active
{
  text-decoration: none;
  color: white;
}
header a:hover{
  color: rgba(152,152,152,255);
}
#form1 textarea
{
  resize: none;
}
#form1
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#form1 p
{
  font-family:'Croissant One', cursive;
  font-variant: small-caps;
  letter-spacing: 2px;
}
#form1 legend
{
  font-size: 2em;
}
#infoprof
{
position: absolute;
top: 15px;
right:90px;
}
#name
{
  width: 300px;
}
#file
{
  width: 300px;
  border: 1px solid rgba(33,33,33,255);
}
#form1 label
{
  padding: 10px;
}
#form1 input
{
  padding: 5px;
}
::placeholder
{
  color: red;
}
#form1 button
{
  font-family:'Croissant One', cursive;
  background-color: white;
  height: 30px;
  position: relative;
  top:40px;
  right: 375px;
}
#form1 input,#form1 textarea
{
  font-family:'Croissant One', cursive;
  background-color: white;
}
#form1 button:focus, #form1 input:focus, #form1 section:focus,#form1 textarea:focus {
  background-color: red;
}
fieldset
{
  border: none;
}
body
{
  display: grid;
  grid-template-areas:
  "header" "main" "main"
  "main" "main" "main"
  "footer" "footer" "main";
  width: 100%;
}
main ul
{
  list-style-type: none;
}
.newbooks img, .popularbooks img, .salebooks img
{
  width: 236px;
  height: 354px;
}
.new
{
  gap: 3em;
  display: flex;
  width:100%;
  flex-direction: column;
  margin-bottom: 2em;
}

.new h2, .new article
{

}
.newbooks
{

  display: flex;
  position: relative;
  justify-content: space-between;
  top: 5px;
  left: 4px;
  gap: 30px;
}
.new article
{
  background-color: rgba(235,220,81,255);
  padding-bottom: 4em;
}
.newbooks li
{
  align-self: flex-start;
  flex-basis: content;
}
.newbooks li .colornew
{
border: 30px solid white;
  border-left: 10px;
  border-top: 0;
}
.newbooks li a
{
  display: flex;
  gap: 2em;
  flex-direction: column;
}
.newbooks li img
{
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);

}

.newbooks a
{
  text-decoration: none;
}
.newbooks a figcaption
{
  color: black;
  font-family: 'Croissant One', cursive;
  font-size: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}
.newbooks figcaption p:nth-of-type(1)
{
  color: black;
}
.newbooks a:hover figcaption p:nth-of-type(2)
{
  color: white;
}

.popular
{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.popular h2, .popular article
{
  position:relative;
  left: 30px;
}
.popularbooks
{
  display: flex;
  position: relative;
  flex-flow: row wrap;
  align-content: space-around;
  top: 5px;
  left: 4px;
  gap: 30px;
}
.popularbooks li
{
  align-self: flex-start;
  flex-basis: content;
}


.popular .col
{
  position:absolute;
  opacity: 0;
  transition: all 400ms ease;
}
.popular .col:hover
{
  opacity: 0.25;
}

.popularbooks a
{
  text-decoration: none;
}
.popularbooks a figcaption
{
  color: black;
  font-family: 'Croissant One', cursive;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}
.popularbooks figcaption p:nth-of-type(1)
{
  color: grey;
}
.popularbooks a:hover figcaption p:nth-of-type(2)
{
  color: grey;
}

.sales
{

}


footer
{
  width:100%;
}


.info
{
  display: grid;
  align-items: start;
  float: left;
}

#linkb:hover img
{
  border: 20px solid red;
}

.menubottom, .info
{
  padding: 15px 0px 15px 15px;
  gap: 5px;
}
#bottominfo
{
  display: flex;
  justify-content: center;
  max-width: 100%;
}
#bottominfo li
{
  display: inline-flex;
  padding: 15px;
  flex-grow: 1;
}

.menubottom a:hover {
  font-size: 20px;
}
#bottominfo a
{
  color: black;
  text-decoration: none;
  font-family:'Croissant One', cursive;
}
.genres dd {
  font: small-caps 16px/1 sans-serif;
  margin-bottom: 10px;
  margin-top: 5px;
}
.genres article {
  font: small-caps bold 20px/1 sans-serif;
}

@media screen and (max-width: 980px) {

  body
  {
    width: 980px;
  }
  .not
  {
    display:flex;
    position: absolute;
    top: 25px;
    left: 5em;
  }
  .not li
  {
    font-size: 0.25em;
  }
  .not img
  {
    width: 100px;
    height: 80px;
  }
  /*
  *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
 }*/
header {
/*
   height: 70px;
   background-color: black;
   padding: 10px 0;*/

   font-family:'Croissant One', cursive;
   font-variant: small-caps;
   letter-spacing: 2px;
   background-size: auto;
   background-color: black;
   padding: 15px auto 15px auto;
   margin-bottom: 15px;

   /*z-index: 1;*/
   width: 100%;
}
.menu-wrap {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 50px;
}
.logo-img {
   height: 50px;
}
.menu-icon {
   font-size: 2.4em;
   color: white;
   line-height: 50px;
}
nav {
   position: absolute;
   background-color: black;
   top:100px;
   left: 0px;
   width: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
   list-style-type: none;
   max-height: 0px;
   overflow: hidden;
   transition: all 0.5s;
}
nav ul li {
   padding: 0 15px;
   font-size: medium;
}
nav ul li a {
   display: inline-block;
   padding: 12px;
   color: grey;
   text-decoration: none;
   /*letter-spacing: 0.05em;*/
}
nav ul li a:hover, nav ul li a:focus {
   color: grey;
}
#checkbox{
   opacity:0;
   position:absolute;
   float: right;

}

#checkbox:checked ~ nav ul {#checkbox
   display: none;
   max-height: 2000px;
   padding: 15px 0;
   transition: all 0.5s;
}


  /*
header{
  font-family:'Croissant One', cursive;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-size: auto;
  background-color: black;
  padding: 15px auto 15px auto;
  margin-bottom: 15px;
  position: sticky;
  top: 5px;
  z-index: 1;
  width: 100%;
}*/
main
{
  width: 100%;
  overflow-x: hidden;
}

header h1
{
  font-size: 5em;
}
main h2
{
  font-size: 2em;
}
/*
#menutop
{
  visibility: hidden;
  font-size: medium;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 120px;
  justify-content: center;
  list-style: none;
}
*/

/*
#menutop li
{
  padding: 15px;
}*/
header a, header a:visited, header a:active
{
  text-decoration: none;
  color: white;
}
header a:hover{
  color: rgba(152,152,152,255);
}
#hesse figcaption
{
  position: absolute;
  font-family:'Croissant One', cursive;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: white;
  left: 90%;
  top: 15%;
  font-size: 3.75em;
}
.newbooks img, .popularbooks img, .salebooks img
{
  width: 472px;
  height: 708px;
}
a figcaption
{
  font-size: 3em;
}

/*
main h2
{
 font-size: 2em;
}*/
.newbooks
{
  overflow:scroll;
}
}
